Django == 3.2.*
django-model-utils
djangorestframework==3.12.4
factory-boy==3.2.1
pytest-django
flake8
psycopg2-binary
gunicorn
whitenoise
pytest-cov
django-cors-headers
django-sortedm2m
requests
pip-tools
networkx==2.6.2
